<main class="bg-white w-6/12 mx-auto m-12 min-h-full scroll-smooth">
  
  <div class="mx-auto flex flex-col gap-8 rounded dark:shadow-slate-900/50 bg-white text-slate-800 dark:bg-slate-50 dark:text-slate-800 gap-4 transition duration-500 ease-in-out">
    <article class="text-slate-800 dark:text-slate-800">
      <img src="<%= @venue.image %>" alt="<%= @venue.name_en %>" loading="lazy" class="block object-contain">
      <div class="flex flex-col gap-1 px-8 mb-2 mt-4">
        <header class="font-bold"><%= @venue.name_en %></header>      
        <div class="flex gap-1 items-center"><%= icon "map-pin", class: "w-5 h-5" %><span class=""><%= @venue.address_en %></span></div>
      </div>
    </article>

    <article class="m-auto min-w-full flex justify-evenly rounded transition duration-500 ease-in-out">
      <%= render partial: "date_card", collection: @venue.max_bookable_days, as: :date %>
    </article>

    <article class="m-auto min-w-full mb-6 flex justify-evenly rounded transition duration-500 ease-in-out">
      <%= render partial: "court_card", collection: @venue.courts, as: :court %>
    </article>
  </div>

  <article class="mt-4 p-4 mx-auto grid grid-flow-row justify-center gap-6 grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-evenly rounded gap-4 transition duration-500 ease-in-out dark:shadow-slate-900/50 bg-white text-slate-800 dark:bg-slate-50 dark:text-slate-800">
    <%= render partial: "slot_card", collection: @venue.courts.first.slots, as: :slot %>
  </article>

  <article class="mt-4 p-4 mx-auto grid grid-flow-row justify-center gap-6 grid-cols-[repeat(auto-fill,minmax(80px,1fr))] justify-evenly rounded gap-4 transition duration-500 ease-in-out dark:shadow-slate-900/50 bg-white text-slate-800 dark:bg-slate-50 dark:text-slate-800">
    <%= render partial: "amenity_card", collection: @amenities, as: :amenity %>
  </article>


</main>